<!-- for styling -->
<style>
.title{
  border-radius: 5px;
  margin-bottom: 5px;
    text-align:center;
  width: 210px;
  color:#ff4456;
  border: solid black 1px;
}
input[type="button"]
{
  border-radius: 100px;
  background-color:midnightblue;
  color: gold;
  border-color:#gold ;
  width:90%;
}
input[type="text"]
{
  border-radius: 10px;
  text-align: right;
  background-color:navy;
  border-color: gold;
  width:95%
}
</style>
